.add-option-error {
    color: $off-white;
    text-align: center;
    font-style: italic;
    padding: 0 $l-size;
    margin: $m-size 0 0 0;
}

.add-option__form {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input {
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10);
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    color: $off-white;
    padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
    .add-option__form {
        flex-direction: row;
    }

    .add-option__input {
        margin-right: $s-size;
    }
}