.option {
    border-bottom: 1px solid darken($color: $light-blue, $amount: 10);
    display: flex;
    justify-content: space-between;
    padding: $l-size $m-size;
}

.option__text {
    color: white;
    font-size: $m-size;
    word-break: break-all;
}
